<div id="main">
  <section id="content">
    <section id="about">
      <div class="img_content">
        <div class="img">
          <img src="assets/img/about/gram.png">
        </div>
        <div class="img">
          <img src="assets/img/about/pen.png">
        </div>
        <div class="img">
          <img src="assets/img/about/collab.png">
        </div>
        <div class="img">
          <img src="assets/img/about/exp.png">
        </div>
        <div class="img">
          <img src="assets/img/about/brainstorm.png">
        </div>
        <div class="line"></div>
      </div>
      <div class="about_info">
        <div class="info_img">
          <h3>Оформлення публікацій</h3>
          <p>Вбудований інструментарій для зручного оформлення публікацій</p>
        </div>
        <div class="info_img">
          <h3>Граматичний контроль</h3>
          <p>Автоматичний граматичний та орфографічний контроль публікації </p>
        </div>
        <div class="info_img">
          <h3>Співпраця з авторами</h3>
          <p>Запрошення авторів до спільної роботи над публікаціями</p>
        </div>
        <div class="info_img">
          <h3>Експортування проекту</h3>
          <p>Збереження та експорт проекту у різноманітні формати</p>
        </div>
        <div class="info_img">
          <h3>Підтримка редакторами</h3>
          <p>Консультація та перевірка публікацій відповідальних редакторів</p>
        </div>
      </div>
    </section>
    <section id="magazine">
      <div class="magazine_content">
        <h2>Науково-періодичні видання ОНАХТ</h2>
        <p>На базі Одеської національної академії харчових технологій засновано вісім наукових видань, які
          отримали визнання міжнародними системами індексування та реферування.
        </p>
      </div>
      <div class="magazine_content">
        <a href="http://fie.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Економіка харчової промисловості
        </a>
        <a href="http://efs.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Економічна та продовольча безпека України</a>
        <a href="http://grain-feed.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Зернові продукти і комбікорми</a>
        <a href="http://geom-center.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Праці міжнародного геометричного центру</a>
        <a href="http://atbp.onaft.edu.ua" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Автоматизація технологічних та бізнес-процесів</a>
        <a href="http://sciworks.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Наукові праці ОНАХТ</a>
        <a href="http://fst.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Харчова наука і технологія</a>
        <a href="http://reftech.onaft.edu.ua/" target="_blank">
          <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Холодильна техніка та технологія</a>
      </div>
    </section>
    <section id="send-form">
      <div class="row" style="width: 100%;">
        <div class="about-info">
          <h2>Віртуальна довідка</h2>
          <p>
            Якщо у вас виникли питання, зауваження та пропозиції, звертайтесь за наведенною формою до адміністраторів сайту.
          </p>
        </div>
        <div class="about-form">
          <form >
            <div class="input-group">
              <input [formControl]="user" id="user_name" type="text" class="form-control"  placeholder="Ваше ім'я">
              <div class="input-group-append">
              </div>
            </div>
            <div class="input-group">
              <textarea id="text" class="form-control" aria-label="With textarea"  placeholder="Ваше повідомлення"></textarea>
            </div>
            <div class="background_btn">
              <button type="button" id="next" (click)="sendEmail()">Відправити <img class="arrow_next" src="assets/img/next.png"></button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section id="statistics">
      <div class="img_statistics">
        <img src="assets/img/statistic/avatar.png">
        <p>Зареєстровані автори</p>
        <h1>1</h1>
      </div>
      <div class="img_statistics">
        <img src="assets/img/statistic/publish.png">
        <p>Створені публікації</p>
        <h1>2</h1>
      </div>
      <div class="img_statistics">
        <img src="assets/img/statistic/magaz.png">
        <p>Опубліковані роботи</p>
        <h1>0</h1>
      </div>
    </section>
   <!-- <section id="about_content" >
      <ul class="about_content_img">
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/CreatePapers.png"/>
          </div>
          <h3>Оформлення публікацій</h3>
          <p>Вбудований інструментарій для оформлення публікацій</p>
        </li>
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Grammer.png"/>
          </div>
          <h3>Граматичний контроль</h3>
          <p>Автоматичний граматичний<br> та орфографічний контроль</p>
        </li>
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Collaborate.png"/>
          </div>
          <h3>Запрошення авторів</h3>
          <p>Співпраця над публікаціями<br>зі співавторами </p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Export.png"/>
          </div>
          <h3>Експорт проекту</h3>
          <p>Збереження та експорт проекту у різні формати</p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Mail.png"/>
          </div>
          <h3>Підтримка редакторами</h3>
          <p>Перевірка та консультація досвідчених редакторів</p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Auto.png"/>
          </div>
          <h3>Резервне копіювання</h3>
          <p>Автоматичне резервне копіювання проекту</p>
        </li>
      </ul>
    </section>
  </article>
  <article id="magazine">
    <div class="about_img">
     <i class="fas fa-pencil-alt"></i>
    </div>
    <section class="magazine_content">
      <div class="revealator-slidedown revealator-once">
        <h3 >Науково-періодичні видання ОНАХТ</h3>
        <p>На базі Одеської національної академії харчових технологій засновано вісім наукових видань, які
          отримали визнання міжнародними системами індексування та реферування.
        </p>
      </div>

      <div id="magazine_left" class="revealator-slideright revealator-delay2 revealator-once">
        <a href="http://fie.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Економіка харчової промисловості</a>
        <a href="http://efs.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Економічна та продовольча безпека України</a>
        <a href="http://grain-feed.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Зернові продукти і комбікорми</a>
        <a href="http://geom-center.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Праці міжнародного геометричного центру</a>
      </div>
      <div id="magazine_right" class="revealator-slideleft revealator-delay2 revealator-once">
        <a href="http://atbp.onaft.edu.ua" target="_blank"><i class="fa fa-paperclip"></i> Автоматизація технологічних та бізнес-процесів</a>
        <a href="http://sciworks.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Наукові праці ОНАХТ</a>
        <a href="http://fst.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Харчова наука і технологія</a>
        <a href="http://reftech.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Холодильна техніка та технологія</a>
      </div>

    </section>-->
  </section>

</div>


