<div id="footer">
    <span><i class="fa fa-copyright"></i> ONAFT Reference Manager. All rights reserved.</span>
    <span>Created by <a href="https://www.facebook.com/ivanovaanast" target="_blank">Xenia Kharash</a></span>
    <div id="creative_commons">
        <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
            <div id="cc">
                <img src="assets/img/logo/cc.png"/>
                <pre>creative<br>commons</pre>
            </div>
        <img src="assets/img/logo/no-commerc.png"/>
        <img src="assets/img/logo/peop.png"/>
        </a>
       <!-- <div id="logo">
            <a href="https://www.onaft.edu.ua/ru/" target="_blank">
        <span class="fa-stack fa-1x">
            <i class="fa fa-circle-thin fa-stack-2x "></i>
            <i class="fa fa-globe fa-stack-1x"></i>
        </span>
            </a>
            <a href="http://www.library.onaft.edu.ua/" target="_blank">
            <span class="fa-stack fa-1x">
            <i class="fa fa-circle-thin  fa-stack-2x "></i>
            <i class="fa fa-book fa-stack-1x"></i>
            </span></a>
            <a href="http://kci.onaft.edu.ua/" target="_blank">
            <span class="fa-stack fa-1x">
            <i class="fa fa-circle-thin  fa-stack-2x "></i>
            <i class="fa fa-pencil fa-stack-1x"></i>
        </span> </a>
        </div>-->
    </div>
</div>
<!--<div id="footer">
    <div id="footer_left">
        <span id="copyright">&#169; ONAFT Reference Manager. All rights reserved.</span>
        <i class="fa fa-creative-commons"></i><a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">  creative <br> commons</a>
    </div>
    <div id="footer_right">
        <a href="http://www.library.onaft.edu.ua/" target="_blank"><img src="../../assets/img/logo/lib_logo.png" height="50px" width="86px"></a>
        <a href="http://kci.onaft.edu.ua/" target="_blank"><img src="../../assets/img/logo/kci.png" height="50px" width="50px"></a>
        <a href="https://www.onaft.edu.ua/ru/" target="_blank"><img src="../../assets/img/logo/onaft.png" height="50px" width="70px"></a>
    </div>
</div>-->
