<div id="header">
    <nav id="mobile_nav">
            <button class="toggle-hamburger " id="menu">
                <span></span>
            </button>
        <ul id="hidden-menu">
            <li><a href="#header">Домашня</a></li>
            <li><a href="#about">Про нас</a></li>
            <li><a href="#magazine">Видання</a></li>
            <li><a routerLink="/login"><i class="fa fa-sign-in"></i>&nbsp;Увійти</a></li>
        </ul>
    </nav>
    <nav id="nav">
        <ul>
            <li><a href="#header">Домашня</a></li>
            <li><a href="#about">Про нас</a></li>
            <li><a href="#magazine">Видання</a></li>
            <li> <a id="enter" routerLink="/login">Увійти</a></li>
            <li id="language"><a  routerLink="" ><i class="fa fa-globe"></i>&nbsp;UK&nbsp;</a> | <a routerLink="/en">&nbsp;EN</a></li>
        </ul>
    </nav>
    <div id="home">
            <h1>ONAFT Reference Manager</h1>
            <p>взаємодія з науковими виданнями <a href="http://kci.onaft.edu.ua/" target="_blank">#CenSciONAFT</a></p>
        <a id="registration"><i class="fa fa-user-plus"></i>&nbsp;Зареєструватися</a>
                <div class="input-registration">
                        <input  type="email" placeholder="Введіть електронну адресу" name="registration"/>
                        <button type="submit" >Зареєструватися</button>
                </div>
    </div>
    <a href="#about" class="next"></a>
</div>
