<div id="main">
    <article class="foodscience_author_info">
        <div class="background">
            <h1>Основна інформація про автора(-ів)</h1>
        </div>
        <section class="foodscience_author">
            <div class="author">
                <div class="line">
                    <h4>Ініціали та прізвище автора</h4>
                    <p>українською</p>
                    <p>російською</p>
                    <p>англійською</p>
                    <input type="text" placeholder="І.І.Іванов" name="authorNameua" >
                    <input type="text" placeholder="И.И.Иванов" name="authorNameru" >
                    <input type="text" placeholder="Ivan Ivanov" name="authorNameen" >
                </div>
                <div class="line">
                    <div class="block">
                        <h4>E-mail</h4>
                        <h4>Контактний телефон</h4>
                    </div>
                    <input type="text" name="email" placeholder="example@gmail.com" >
                    <input type="tel" id="contact" name="contact"  pattern="+38(0[0-9]{2})-[0-9]{2}-[0-9]{2}-[0-9]{3}">
                </div>
                <div class="line ">
                    <h4>Вчене звання</h4>
                    <p>українською</p>
                    <p>російською</p>
                    <p>англійською</p>
                    <input type="text" name="academtitle" title="academtitle" >
                    <input type="text" name="academtitle" title="academtitle" >
                    <input type="text" name="academtitle" title="academtitle" >
                </div>
                <div class="line bottom_none">
                    <h4>Науковий ступінь</h4>
                    <p>українською</p>
                    <p>російською</p>
                    <p>англійською</p>
                    <input type="text" name="academtitle" title="academtitle" >
                    <input type="text" name="academtitle" title="academtitle" >
                    <input type="text" name="academtitle" title="academtitle" >
                </div>
            <section id="content_for_authors">

            </section>
                <button type="button" id="creat_author" (click)="addAuthor()"><img class="plus_author" src="assets/img/plus_auth.png"> Додати автора</button>
                <div class="science">
                    <div class="block">
                        <h4>Наукова установа<sup>*</sup></h4>
                        <h4>Належність до кафедри<sup>*</sup></h4>
                    </div>
                    <input type="text" name="" value="Одеська національна академія харчових технологій">
                    <input type="text" name="" value="Кафедра Інформаційних технологій">
                    <h4>Повна адреса установи<sup>*</sup></h4>
                    <p>країна</p>
                    <p>місто</p>
                    <p>адреса</p>
                    <input type="text" name="authorName" value="Україна">
                    <input type="text" name="authorName" value="Одеса">
                    <input type="text" name="authorName" value="вул. Канатна, 112, 65039">
                    <span><sup>*</sup>Позначається місце роботи і адреса організації в тому випадку, якщо ці дані авторів співпадають.</span>
                </div>
            </div>
        </section>
        <div class="background_btn">
        <button type="button" id="next" routerLink="/food_science/article">Наступний крок <img class="arrow_next" src="assets/img/next.png"></button>
        </div>
    </article>
</div>