<div id="main_paper">
  <header><h1>Оформлення публікації</h1>
    <img src="../../assets/img/edit.png">
    <p>Створення публікації повністю автоматизоване, завдяки вбудованому інструментарію редагування статті та формування кінцевого документа. Для кращого результату чітко дотримуйтесь наведених інструкцій.  </p>
  </header>
  <section class="fs_main">

    <div class="tab">
      <input id="ac0" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac0"><strong>УДК</strong></label>
      <div class="accordion_content" >
        <textarea id="udc"></textarea>
      </div>
    </div>

    <div class="tab">
      <input id="ac" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac"><strong>Назва статті</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p> Назва статті повинна містити не більше 10 слів, не мати у своєму складі абревіатур і строго відповідати змісту статті.</p>
        </div>
        <p>українською мовою</p>
        <textarea maxlength="" class="fs_title"></textarea>
        <p>російською мовою</p>
        <textarea maxlength="" class="fs_title"></textarea>
        <p>англійською мовою</p>
        <textarea maxlength="" class="fs_title"></textarea>
      </div>
    </div>

    <div class="tab">
      <input id="ac1" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac1"><strong>Анотація</strong> українською мовою (150 – 250 cлів)</label>
      <div class="accordion_content">
        <div contenteditable="true" class="textarea" id="abstract_ua">
        </div>
      </div>
    </div>


    <div class="tab">
      <input id="ac2" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac2"><strong>Ключові слова</strong> українською мовою</label>
      <div class="accordion_content">
        <div contenteditable="true" class="textarea" id="keywords_ua"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac3" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac3"><strong>Анотація</strong> російською мовою (150 – 250 cлів)</label>
      <div class="accordion_content">
          <div contenteditable="true" class="textarea" id="abstract_ru"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac4" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac4"><strong>Ключові слова</strong> російською мовою</label>
      <div class="accordion_content">
          <div contenteditable="true" class="textarea" id="keywords_ru"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac5" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac5"><strong>Анотація</strong> англійською мовою (150 – 250 cлів)</label>
      <div class="accordion_content">
          <div contenteditable="true" class="textarea" id="abstract_en"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac6" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac6"><strong>Ключові слова</strong> англійською мовою</label>
      <div class="accordion_content">
          <div contenteditable="true" class="textarea" id="keywords_en"></div>
      </div>
    </div>


    <div class="tab" id="introduction_tab">
      <input id="ac7" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac7"><strong>Вступ</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Зазначається до якої області науки (виробництва) відносяться дослідження, про які йде мова в статті; наводиться обгрунтування актуальності теми та аналіз проблеми, що вирішується автором у роботі.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab" id="literature">
      <input id="ac9" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac9"><strong>Літературний огляд</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Наводится аналіз досліджень і публікацій, в яких вирішувалась дана проблема іншими вченими, виділення невирішених раніше частин загальної проблеми, яким присвячена ця стаття.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac10" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac10"><strong>Основна частина (наводиться назва, що відображає сутність роботи)</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Формулюються мета і завдання дослідження. Мета і завдання мають бути взаємопов’язані і розкривати тему, заявлену в назві роботи. Наводяться матеріали та методи досліджень, результати досліджень та їхнє обговорення.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab" id="material">
      <input id="ac11" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac11"><strong>Матеріали і методи досліджень</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Формулюються так, щоб за наведеним описом можна було відтворити дослідження. На загальновідомі методи досить дати посилання.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac12" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac12"><strong>Результати та їх обговорення </strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Не потрібно наводити ті самі результати у таблицях і на рисунках. Якщо є таблиця, у тексті цифровий матеріал не подавати, вказувати лише зміну показників з вірогідними різницями (р<) у разах або відсотках, кореляційні зв’язки (r=). За наявності у статті рисунків у тексті слід дати цифрові дані (середнє арифметичне та відхилення, коливання). Більша частина обговорення має бути присвячена інтерпретації результатів.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac13" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac13"><strong>Апробація результатів досліджень</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>У цьому розділі можна вказати, в умовах якого виробництва були впроваджені або можуть бути впроваджені результати досліджень та навести конкретні приклади реалізації в промисловості.</p>
        </div>
          <div contenteditable="true" class="textarea"></div>
      </div>
    </div>


    <div class="tab">
      <input id="ac14" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac14"><strong>Висновки</strong></label>
      <div class="accordion_content">
        <div class="img_align">
          <img src="../../assets/img/info.png">
        </div>
        <div class="info">
          <p>Формулюються  за результатами досліджень і перспективи подальших досліджень у даному напрямку.</p>
        </div>
        <div contenteditable="true" class="textarea"></div>
      </div>
    </div>

    <div class="tab">
      <input id="ac15" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac15"><strong>Список літератури</strong></label>
      <div class="accordion_content ref_content">
        <div class="library">
          <select id="books">
            <option style="display:none">-- Оберіть джерело --</option>
            <option>Книга</option>

            <option>Серіальний ресурс</option>

            <option>Збірник наукових праць і матеріалів конференцій</option>

            <option>Багатотомне видання</option>

            <option>Книги на іноземній мові</option>

            <option>Законодавчий документ</option>

            <option>Автореферат дисертації</option>

            <option>Дисертація</option>

            <option>Опис стандартів</option>

            <option>Патентний документ</option>

            <option>Стаття з книги</option>

              <option>Стаття з окремого тому багатотомного видання</option>

              <option>Глава, розділ книги</option>

            <option>Стаття</option>

            <option>Матеріали конференцій</option>

            <option>Електронне джерело</option>

          </select>

          <select  id="num_athr">
            <option style="display:none">-- Кількість авторів --</option>
            <option>немає автора</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4 і більше</option>
          </select>
        </div>

        <div id="book" >

          <div class="block_library" id="add_author">

          </div>
          <div class="block_library" id="name_div">
            <p>Назва роботи:</p>
            <input type="text" placeholder="Наукова поезія ХХ століття" id="name_book"/>
          </div>
          <div class="block_library" id="type_div">
            <p>Тип книги:</p>
            <input type="text" placeholder="монографія" id="type_book"/>
          </div>
          <div class="block_library" id="series">

          </div>
          <div class="block_library" id="city">
            <p>Місто видання:</p>
            <input type="text" placeholder="Одеса" id="city_book"/>
          </div>
          <div class="block_library" id="publisher">
            <p>Видавництво:</p>
            <input type="text" placeholder="ВМО" id="publish"/>
          </div>
          <div class="block_library">
            <p>Рік видання:</p>
            <input type="text" placeholder="2006" id="year_publish"/>
          </div>
          <div class="block_library">
            <p>Кількість сторінок:</p>
            <input type="text" placeholder="100" id="page"/>
          </div>

        </div>

        <button id="add_reference" >Додати до списку</button>

        <textarea id="references"></textarea>
      </div>
    </div>


    <div class="tab" id="last_tab">
      <input id="ac16" name="accordion-1" type="checkbox"  />
      <label class="accordion" for="ac16"><strong>Список літератури (References) (транслітерація)</strong></label>
      <div class="accordion_content">
        <div contenteditable="true" class="textarea"></div>
      </div>
    </div>
    <button type="button" id="complite" routerLink="/_articles"><img class="check" src="../../assets/img/check.png">Завершити публікацію </button>
  </section>
</div>

