<section id="main">
  <div class="profile">
    <div class="profile_img">
      <div id="img">
        <img id="upload-img" class='preview' src="../../assets/img/photo.png"/>
        <input type='file' id="upload" accept="image/jpeg,image/png" (change)="previewFile()"/>
        <label for="upload" class="plus"><img src="../../assets/img/plus.png" title="Download image"></label>
      </div>
      <div id="img_info">
        <h3>Іванова Анастасія Геннадіїна <a routerLink="/profile/edit" class="edit" title="Edit profile"><i class="fa fa-edit"></i>
        </a> </h3>
        <p>Email: ivanovaanast29@gmail.com</p>
        <p id="telephone">mob.0934646860</p>
        <p id="ORCID">ORCID: 0000-0003-2026-9069</p>
        <p id="ResearchID">ResearchID: -</p>
        <p id="ScopusID">ScopusID: -</p>
      </div>
    </div>
    <div id="main_statistic">
      <div class="statistics">
        <h1>2</h1>
        <h4>Created publications</h4>
      </div>
      <div class="statistics">
        <h1>0</h1>
        <h4>Checked publications</h4>
      </div>
      <div class="statistics">
        <h1>0</h1>
        <h4>Posted publications</h4>
      </div>
    </div>
  </div>
  <div id="instutation_view">
    <h2>Institutional information</h2>
    <div class="instutation_content">
      <div id="border_bottom">
        <div class="view_block">
          <div class="view_title">
            <img src="../../assets/img/instutation%20info/diploma.png"><h4>Academic status</h4>
          </div>
          <p>-</p>
        </div>
        <div class="view_block">
          <div class="view_title">
            <img src="../../assets/img/instutation%20info/degree.png"><h4>Scientific degree</h4>
          </div>
          <p>студент</p>
        </div>
        <div class="view_block border-none">
          <div class="view_title">
            <img src="../../assets/img/instutation%20info/telescope.png"><h4>Research area</h4>
          </div>
          <p>Комп’ютерні науки та інформаційні технології</p>
        </div>
      </div>
      <div class="view_block">
        <div class="view_title">
          <img src="../../assets/img/instutation%20info/flask.png"><h4>Sub-area of ​​research</h4>
        </div>
        <p>-</p>
      </div>
      <div class="view_block">
        <div class="view_title">
          <img src="../../assets/img/instutation%20info/university.png"><h4>Scientific institution</h4>
        </div>
        <p>Одеська національна академія харчових технологій, вул. Канатна, 112, м.Одеса, Україна</p>
      </div>
      <div class="view_block border-none">
        <div class="view_title">
          <img src="../../assets/img/instutation%20info/briefcase.png"><h4>Scientific subdivision</h4>
        </div>
        <p>Кафедра інформаційних технологій</p>
      </div>
    </div>
  </div>
</section>





<!--<div id="main">-->
<!--<section class="profile_info">-->
<!--<div class="tab">-->
<!--<div id="photo">-->
<!--<img src="../../assets/img/photo.png">-->
<!--</div>-->
<!--<div class="info">-->
<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>ПІБ</h4>-->
<!--<h4>Контактний телефон</h4>-->
<!--<h4>ORCID</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>E-mail</h4>-->
<!--<h4>Пароль</h4>-->
<!--<h4>Повторне введення паролю</h4>-->
<!--</div>-->
<!--<input type="email">-->
<!--<input type="password">-->
<!--<input type="password">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>Вчене звання</h4>-->
<!--<h4>Науковий ступінь</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>Наукова установа</h4>-->
<!--<h4>Належність до кафедри</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<h4>Повна адреса установи</h4>-->
<!--<p>країна</p>-->
<!--<p>місто</p>-->
<!--<p>адреса</p>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->
<!--<div class="block">-->
<!--<h4>Галузь досліджень</h4>-->
<!--<h4>Підгалузь досліджень</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->
<!--</div>-->
<!--<button type="button" id="creat_author"><i class="fas fa-check"></i> Зберегти профіль</button>-->
<!--</section>-->
<!--</div>-->
