<div id="header">
    <nav id="mobile_nav">
        <input type="checkbox" id="hmt" >
        <label class="btn-menu" for="hmt">
            <span class="first"></span>
            <span class="second"></span>
            <span class="third"></span>
        </label>
        <ul class="hidden-menu">
            <li><a href="en#header">Home</a></li>
            <li><a href="en#about">About us</a></li>
            <li><a href="en#magazine">Publications</a></li>
            <li><a routerLink="/login-en"><i class="fa fa-user"></i>&nbsp;Sign in</a></li>
        </ul>
    </nav>

    <nav id="nav">
        <ul>
            <li><a href="en#header">Home</a></li>
            <li><a href="en#about">About us</a></li>
            <li><a href="en#magazine" >Publications</a></li>
            <li> <a id="enter" routerLink="/login-en">Sign in</a></li>
            <li id="language"><a routerLink="/_en" ><i class="fa fa-globe"></i> EN&nbsp;</a> | <a routerLink="/">&nbsp;UK</a></li>
        </ul>
    </nav>
    <div id="home">
            <h1>ONAFT Reference Manager</h1>
            <p>interact with scientific and periodicals publications <a href="http://kci.onaft.edu.ua/" target="_blank">#CenSciONAFT</a></p>
            <div class="input-registration">
                    <input  type="email" placeholder="Enter email" name="registration"/>
                    <button type="submit" >Sign up</button>
            </div>
    </div>
    <a href="en#about" class="next"></a>
</div>


