<div id="main">
  <section id="content">
    <section id="about">
      <div class="img_content">
        <div class="img">
          <img src="../../assets/img/about/gram.png">
        </div>
        <div class="img">
          <img src="../../assets/img/about/pen.png">
        </div>
        <div class="img">
          <img src="../../assets/img/about/collab.png">
        </div>
        <div class="img">
          <img src="../../assets/img/about/exp.png">
        </div>
        <div class="img">
          <img src="../../assets/img/about/brainstorm.png">
        </div>
        <div class="line"></div>
      </div>
      <div class="about_info">
        <div class="info_img">
          <h3>Create publications</h3>
          <p>Integrated tools for create publications</p>
        </div>
        <div class="info_img">
          <h3>Grammer control</h3>
          <p>Automatic spelling and grammer check</p>
        </div>
        <div class="info_img">
          <h3>Invite co-authors</h3>
          <p>Invite and collaborate with co-authors</p>
        </div>
        <div class="info_img">
          <h3>Export project</h3>
          <p>Download and export your project in different formats</p>
        </div>
        <div class="info_img">
          <h3>Support by editors</h3>
          <p>Verification and advice of experienced editors</p>
        </div>
      </div>
    </section>
    <section id="magazine">
      <div class="magazine_content">
        <h2>Scientific and periodicals publications ONAFT</h2>
        <p>On the basis of the Odessa National Academy of Food Technologies, eight scientific editions were established
          have been recognized by international indexation and referencing systems
        </p>
      </div>
      <div class="magazine_content">
        <a href="http://fie.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Economics of Food Industry
        </a>
        <a href="http://efs.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          The Economic and Food Security of Ukraine</a>
        <a href="http://grain-feed.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Grain Products and Mixed Fodder’s</a>
        <a href="http://geom-center.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Proceedings of the International Geometrical Center</a>
        <a href="http://atbp.onaft.edu.ua" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Automation technology and business processes</a>
        <a href="http://sciworks.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Scientific works ONAFT</a>
        <a href="http://fst.onaft.edu.ua/" target="_blank">
           <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Food Science and Technology</a>
        <a href="http://reftech.onaft.edu.ua/" target="_blank">
          <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-angle-right fa-stack-1x"></i>
          </span>
          Холодильна техніка та технологія</a>
      </div>
    </section>
    <section id="statistics">
      <div class="img_statistics">
        <img src="../../assets/img/statistic/avatar.png">
        <p>Registered author</p>
        <h1>1</h1>
      </div>
      <div class="img_statistics">
        <img src="../../assets/img/statistic/publish.png">
        <p>Created publications</p>
        <h1>2</h1>
      </div>
      <div class="img_statistics">
        <img src="../../assets/img/statistic/magaz.png">
        <p>Published works</p>
        <h1>0</h1>
      </div>
    </section>
  </section>
</div>



<!--<div id="main">
  <article id="about">
    <div class="about_img">
      <i class="fa fa-users"></i>
    </div>
    <section id="about_content" >
      <ul class="about_content_img">
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/CreatePapers.png"/>
          </div>
          <h3>Create publications</h3>
          <p>Integrated tools for create publications.</p>
        </li>
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Grammer.png"/>
          </div>
          <h3>Grammer control</h3>
          <p>Automatic spelling and grammer check</p>
        </li>
        <li class="revealator-slidedown revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Collaborate.png"/>
          </div>
          <h3>Invite co-authors</h3>
          <p>Invite and collaborate with co-authors</p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Export.png"/>
          </div>
          <h3>Export project</h3>
          <p>Download and export your project in different formats</p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Mail.png"/>
          </div>
          <h3>Support by editors</h3>
          <p>Verification and advice of experienced editors</p>
        </li>
        <li class="revealator-slideup revealator-once">
          <div class="img_align">
            <img src="../../assets/img/about/Auto.png"/>
          </div>
          <h3>Backup</h3>
          <p>Secure automatic backup and version history</p>
        </li>
      </ul>
    </section>
  </article>
  <article id="magazine">
    <div class="about_img">
      <i class="fas fa-pencil-alt"></i>
    </div>
    <section class="magazine_content">
      <div class="revealator-slidedown revealator-once">
        <h3 >Scientific and periodicals publications ONAFT</h3>
        <p>On the basis of the Odessa National Academy of Food Technologies, eight scientific editions were established
          have been recognized by international indexation and referencing systems
        </p>
      </div>

      <div id="magazine_left" class="revealator-slideright revealator-delay2 revealator-once">
        <a href="http://fie.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Економіка харчової промисловості</a>
        <a href="http://efs.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Економічна та продовольча безпека України</a>
        <a href="http://grain-feed.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Зернові продукти і комбікорми</a>
        <a href="http://geom-center.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Праці міжнародного геометричного центру</a>
      </div>
      <div id="magazine_right" class="revealator-slideleft revealator-delay2 revealator-once">
        <a href="http://atbp.onaft.edu.ua" target="_blank"><i class="fa fa-paperclip"></i> Автоматизація технологічних та бізнес-процесів</a>
        <a href="http://sciworks.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Наукові праці ОНАХТ</a>
        <a href="http://fst.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Харчова наука і технологія</a>
        <a href="http://reftech.onaft.edu.ua/" target="_blank"><i class="fa fa-paperclip"></i> Холодильна техніка та технологія</a>
      </div>

    </section>
  </article>

</div>-->

