<div id="main">
    <article class="papers_line">
        <h3>Наукові публікації</h3>
        <img src="assets/img/pen1.png">
        <section class="papers_info_edit">
            <div id="papers_edit">
                <div class="accordion"><h1>
                    Тестова публікація</h1>
                    <a><img  src="assets/img/edit-interface-sign.png"></a>
                <a> <img src="assets/img/dustbin.png"> </a>
                </div>
                <div class="accordion_content">
                    <div class="text">
                        <h4>УДК:</h4><p> 3333333333</p>
                    </div>
                    <div class="text">
                        <h4>Назва публікації:</h4><p> Тестова публікація</p>
                    </div>
                    <div class="text">
                        <h4>Автор публікації:</h4><p> Іванова А.Г.</p>
                    </div>
                    <div class="text">
                        <h4>Наукове видання:</h4><p> Харчова наука і технологія</p>
                    </div>
                    <div class="text">
                        <h4>Завнтажити</h4><a href=""></a><a href=""></a>
                    </div>
                    <div class="text">
                        <div id="format">
                            <h4>Відкрити у форматі </h4>
                            <a href="assets/img/test_publication.docx"><img src="assets/img/doc.png" alt="Зберегти у форматі .docx" title="Зберегти у форматі .docx"></a>
                                <h4>або</h4>
                            <a href=""><img src="assets/img/pdf.png" alt="Зберегти у форматі .pdf" title="Зберегти у форматі .pdf"></a>

                    </div>
                    </div>
                </div>
            </div>
        </section>
               <!-- <p>У вас поки що немає публікацій.</p>
                <button type="button" routerLink="/papers"  ><i class="fa fa-plus"></i> Створити публікацію</button>-->
    </article>
</div>

