<section id="main">
    <div class="profile_edit">
        <div id="img">
            <img id="upload-img" class='preview' src="../../assets/img/photo.png">
            <input type='file' id="upload" accept="image/jpeg,image/png"/>
            <label for="upload" class="plus"><img src="../../assets/img/plus.png"></label>
        </div>
        <div class="profile_img_edit">
            <div id="img_info_edit">
                    <div class="title">
                        <h4>ПІБ</h4>
                    </div>
                    <div class="info_content">
                        <div class="block">
                            <p>українською</p>
                            <div class="input-group">
                                <input type="text"  placeholder="Іванов Іван Іванович">
                            </div>
                        </div>
                        <div class="block">
                            <p>російською</p>
                            <div class="input-group">
                                <input type="text"  placeholder="Иванов Иван Иванович">
                            </div>
                        </div>
                        <div class="block">
                            <p>англійською</p>
                            <div class="input-group">
                                <input type="text" placeholder="Ivanov Ivan">
                            </div>
                        </div>
                    </div>
                <div class="line">
                    <div class="align">
                        <div class="title">
                            <h4>Email</h4>
                        </div>
                        <div class="info_content  bottom">
                            <div class="block ">
                                <div class="input-group">
                                    <input type="text"  placeholder="example@gmail.com">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="align">
                        <div class="title">
                            <h4>Телефон</h4>
                        </div>
                        <div class="info_content  bottom">
                            <div class="block">
                                <div class="input-group">
                                    <input type="text"  mask="+38(000)000-00-00"  pattern="\+\d \d \(\d{3}\) \d{3}-\d{4}" title="telephone number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="align">

                    </div>
                </div>
                <div class="line">
                    <div class="align">
                    <div class="title">
                        <h4>ORCID</h4>
                    </div>
                    <div class="info_content bottom">
                        <div class="block">
                            <div class="input-group">
                                <input mask="0000-0000-0000-0000" type="text" id="orcid"   maxlength="19" pattern="\d [0-9]" required>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="align">
                    <div class="title">
                        <h4>ResearchID</h4>
                    </div>
                    <div class="info_content bottom">
                        <div class="block">
                            <div class="input-group">
                                <input mask="A-0000-0000" maxlength="11" type="text" required>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="align">
                    <div class="title">
                        <h4>ScopusID</h4>
                    </div>
                    <div class="info_content bottom">
                        <div class="block">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="instutation_info">
        <h2>Інституційна інформація</h2>
        <div id="info">
            <div class="title">
                <h4>Вчене звання</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <select >
                            <option style="display:none">-- Оберіть вчене звання --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите ученое звание --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>

                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select the academic title --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Науковий ступінь</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Оберіть науковий ступінь --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите научную степень --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select a scientific degree --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Галузь досліджень</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Оберіть галузь досліджень --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите отрасль исследований --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select a research industry --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Підгалузь досліджен</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Оберіть підгалузь досліджень --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите подотрасль исследований --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select a sub-branch of research --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Наукова установа</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Належність до кафедри</h4>
            </div>
            <div class="info_content">
                <div class="block">
                    <p>українською</p>
                    <div class="input-group">
                        <input type="text" >
                    </div>
                </div>
                <div class="block">
                    <p>російською</p>
                    <div class="input-group">
                        <input type="text" >
                    </div>
                </div>
                <div class="block">
                    <p>англійською</p>
                    <div class="input-group">
                        <input type="text" >
                    </div>
                </div>
            </div>
            <div class="title">
                <h4>Повна адреса установи</h4>
                <p>українською</p>
            </div>
            <div class="info_content ukr">
                <div class="block">
                    <p>країна</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Оберіть країну --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>місто</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Оберіть місто --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>адреса</p>
                    <div class="input-group">
                        <input type="text" >
                    </div>
                </div>
            </div>
            <div class="title">
                <p>російською</p>
            </div>
            <div class="info_content rus">
                <div class="block">
                    <p>країна</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите страну --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>місто</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Выберите город --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>адреса</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
            </div>
            <div class="title">
                <p>англійською</p>
            </div>
            <div class="info_content en">
                <div class="block">
                    <p>країна</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select country --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>місто</p>
                    <div class="input-group">
                        <select>
                            <option style="display:none">-- Select city --</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <p>адреса</p>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="Text input with dropdown button">
                    </div>
                </div>
            </div>
        </div>
        <button routerLink="/profile" type="button"><i class="fa fa-save"></i>  Зберегти зміни</button>
    </div>
</section>





<!--<div id="main">-->
<!--<section class="profile_info">-->
<!--<div class="tab">-->
<!--<div id="photo">-->
<!--<img src="../../assets/img/photo.png">-->
<!--</div>-->
<!--<div class="info">-->
<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>ПІБ</h4>-->
<!--<h4>Контактний телефон</h4>-->
<!--<h4>ORCID</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>E-mail</h4>-->
<!--<h4>Пароль</h4>-->
<!--<h4>Повторне введення паролю</h4>-->
<!--</div>-->
<!--<input type="email">-->
<!--<input type="password">-->
<!--<input type="password">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>Вчене звання</h4>-->
<!--<h4>Науковий ступінь</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<div class="block">-->
<!--<h4>Наукова установа</h4>-->
<!--<h4>Належність до кафедри</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->

<!--<div class="info_content">-->
<!--<h4>Повна адреса установи</h4>-->
<!--<p>країна</p>-->
<!--<p>місто</p>-->
<!--<p>адреса</p>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->
<!--<div class="block">-->
<!--<h4>Галузь досліджень</h4>-->
<!--<h4>Підгалузь досліджень</h4>-->
<!--</div>-->
<!--<input type="text">-->
<!--<input type="text">-->
<!--</div>-->
<!--</div>-->
<!--<button type="button" id="creat_author"><i class="fas fa-check"></i> Зберегти профіль</button>-->
<!--</section>-->
<!--</div>-->
